@{
    ViewBag.Title = "Home Page";
}
 @model IEnumerable<HW_AJAX_MVC.Models.MoviesListViewModel>
<div class="row">
    <div class="col-md-4">
        <h2>Movies available</h2>
        <ul>
        @foreach(var movie in Model)
        {
            <li>@Html.ActionLink(movie.Title, "Details" ) </li>
        }
</ul>
   
    </div>

</div>